@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

/* COLORS */
/* FONTS FAMILY */
/* FONTS SIZE */
/* PLACE HOLDER */
/* MIXIN */
.technology {
  background-image: url("../../assets/starter-code/technology/background-technology-mobile.jpg");
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technology .hero {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology .hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 650px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.technology .hero .page_title {
  margin-bottom: 20px;
}

.technology .hero .page_title h2 {
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
}

.technology .hero .page_title h2 span {
  color: #555;
  margin-right: 10px;
}

.technology .hero figure.image-mobile {
  margin: 0;
}

.technology .hero figure.image-mobile img {
  width: 100%;
}

.technology .hero .main_content {
  width: 90%;
  max-width: 560px;
  margin: auto;
  margin-top: 50px;
}

.technology .hero .main_content .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  max-width: 185px;
  min-width: 160px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  z-index: 1000;
}

.technology .hero .main_content .nav-bar a {
  text-decoration: none;
  color: #feb;
  font-family: "Bellefair", serif;
}

.technology .hero .main_content .nav-bar span {
  border-radius: 50%;
  padding: 10px 17px;
  border: 1px solid #fff;
}

.technology .hero .main_content .nav-bar span.active {
  background: #fff;
  color: #000;
}

.technology .hero .main_content p:first-child {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.technology .hero .main_content h1 {
  margin-top: 0;
  font-size: 1.7rem;
  color: #feb;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.technology .hero .main_content p:last-child {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.technology .hero figure.image-desktop {
  display: none;
}

@media screen and (min-width: 750px) {
  .technology .hero {
    width: 95%;
    margin: auto;
  }
  .technology .hero .page_title {
    text-align: left;
  }
  .technology .hero .page_title h2 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .technology .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 40px;
  }
  .technology .hero figure.image-mobile {
    display: none;
  }
  .technology .hero figure.image-desktop {
    margin: 0;
    display: block;
    margin: auto 0;
    width: 70%;
  }
  .technology .hero figure.image-desktop img {
    width: 100%;
  }
  .technology .hero .content {
    padding-left: 70px;
  }
  .technology .hero .page_title h2 {
    font-size: 1.7rem;
  }
  .technology .hero .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    margin: 50px 0 auto 0;
    text-align: left;
  }
  .technology .hero .main_content .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    margin: auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 60px;
  }
  .technology .hero .main_content .nav-bar span {
    padding: 13px 23px;
    font-size: 1.3rem;
  }
  .technology .hero .main_content .nav-bar span:hover {
    background: #fff;
    color: #000;
  }
  .technology .hero .main_content article p:first-child {
    font-size: 1.3rem;
  }
  .technology .hero .main_content article h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  .technology .hero .main_content article p:last-child {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=technology.css.map */