@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;    
}

/* COLORS */
$white:#fff;
$grey:#555;
$blue:#08f;
$clr-white: 0 0% 100%;




/* FONTS FAMILY */
$bellefair:"Bellefair", serif;
$barlow:"Barlow",sans-serif;
$barlow-con:"Barlow Condensed",sans-serif;




/* FONTS SIZE */
$fsm-normal:1.1rem;
$fsm-title-big:4rem;
$fsm-medium:1.4rem;

$fst-normal:1.3rem;
$fst-title-big:4.3rem;
$fst-medium:1.7rem;

$fsd-normal:1.3rem;
$fsd-title-big:4.3rem;
$fsd-medium:1.7rem;




/* PLACE HOLDER */
%links-styles{
    text-decoration: none;  
    font-family:$barlow-con;
    letter-spacing: 2px;
    font-size: 1rem;
    color: rgba($white,.6);
    span{
        font-weight: bolder;
        color: $white;
        margin-right: 6px;
    }
}