@import "../var.scss";


.home{    
    min-height: 100vh;
    background-image: url("../../assets/starter-code/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center;      
    display: flex;   
    flex-direction: column;
    justify-content: space-between;     
    
    .hero{
        text-align: center;
        width: 90%;        
        margin: 0 auto;               
        margin-top: 10px;           
        padding-bottom: 50px;           
        
        .intro{
            font-family: $barlow-con;
            font-size: $fsm-normal;
            
            p{
                &:first-child{
                    letter-spacing: 2px;
                    margin-top: 0;
                    font-size: $fsm-medium;
                }
                &:last-child{
                    line-height: 1.5;
                }
            }

            h2{
                font-size:$fsm-title-big;
                margin: 0;
                font-family: $bellefair;
                color: #fff;
                font-weight: lighter;
            }
        }

        .explore{
            margin: auto;
            margin-top: 50px;
            height: 180px;
            width: 180px;
            background: $white;
            border-radius: 50%;
            color: $grey;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $fsm-medium;
            font-family: $bellefair;            
        }
    }
}   

@media screen and (min-width:550px) {
    .home{
        background-image: url("../../assets/starter-code/home/background-home-tablet.jpg");                
    }
}

@media screen and (min-width:750px) {
    .home{
        background-image: url("../../assets/starter-code/home/background-home-tablet.jpg");
        .hero{
            .intro{
                font-size: $fst-normal;

                p{
                    &:first-child{
                        font-size: $fst-medium;
                    }                    
                }

                h2{
                    font-size: $fst-title-big;
                }
            }
        }
    }
}

@media screen and (min-width:1200px){
    .home{   
        background-image: url("../../assets/starter-code/home/background-home-desktop.jpg");     
        .hero{
            display: flex;
            align-self: center;
            height: calc(100vh - 150px);
            padding-bottom: 0;
            margin-top: 0;
            display: flex;
            align-items: flex-end;            
            justify-content: space-between;
            width: 80%;

            .intro{                
                width: 50%;
                padding-bottom: 170px;
                font-size: 1.5rem;
                text-align: left;

                p{
                    &:first-child{
                        font-size: 2.3rem;
                    }         
                    
                    &:last-child{
                        line-height: 1.3;
                    }
                }

                h2{
                    font-size: $fsd-title-big;
                }
            }

            .planet{
                padding-bottom: 170px;

                .explore{
                    height: 280px;
                    width: 280px;
                }
            }
        }   

    }
}