@import "../var.scss";

.destination{    
    background-image: url("../../assets/starter-code/destination/background-destination-mobile.jpg");
    background-size: cover;
    
    .planet{        
        text-align: center;
        h2{
            @extend %h2-title-m
        }
        
        img{
            margin: 30px 0;
            width: 95%;
            max-width: 300px;
        }
    }

    .content{
        text-align: center;
        width: 90%;
        max-width: 450px;
        margin: auto;
        .nav-bar{            
            list-style: none;
            display: flex;
            justify-content: space-between;            
            padding: 0;
            margin: 0 auto;            
            font-family: $barlow-con;
            letter-spacing: 2px;
            font-size: $fsm-small;            

            li{
                padding-bottom: 15px;
                border-bottom: 3px solid transparent;
                position: relative;
                z-index: 1000;

                &.active{
                    border-bottom: 3px solid $blue;
                    a{
                        color: $blue;
                    }
                }
            }

            a{
                color: $white;
                text-decoration: none;
            }
        }

        h2{            
            font-size: $fsm-title-big;
            margin: 35px 0 0 0 ;
            font-family: $bellefair;
            font-weight: lighter;
            text-transform: uppercase;
        }

        p.description{            
            font-family: $barlow;
            
            margin: 0 auto;
            line-height: 1.4;

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: rgba($white,.1);
                margin: 40px 0;
            }
        }

        .distance{            
            p{
                font-family: $bellefair;                
                font-size: $fsm-small;
                text-transform: uppercase;
                line-height: 1.3;
                span{
                    font-weight: lighter;
                    display: block;
                    font-family: $barlow;                    
                    font-size: $fsm-x-small;
                    letter-spacing: 2px;
                }
            }
            
            padding-bottom: 25px;
        }

    }
}

@media screen and (min-width:750px) {
    .destination{
        background-image: url("../../assets/starter-code/destination/background-destination-tablet.jpg");
        .hero{
            padding-top: 20px;
            width: 90%;
            margin: auto;
        }

        .planet{
            h2{
                text-align: left;
                font-size: $fst-small;
            }
            img{
                width: 50%;
                max-width:420px;
            }
        } 

        .content{
            width: 85%;
            max-width: none;

            .nav-bar{
                max-width: 350px;
                font-size: $fst-small;
            }

            h2{
                font-size: $fst-title-big;
            }

            .distance{
                display: flex;
                justify-content: space-between;
                margin: auto;
                width: 65%;
                min-width: 460px;
                p{
                    font-size: $fst-medium;     
                    line-height: 2rem;               
                    span{                        
                        font-size: $fsm-x-small;
                        letter-spacing: 0;
                    }
                }
            }

        }
    }
}

@media screen  and (min-width:1200px){
    .destination{
        background-image: url("../../assets/starter-code/destination/background-destination-desktop.jpg");
        min-height: 100vh;

        .hero{
            display: flex;
            width: 85%;
            padding-top: 60px;

            .planet{
                width: 50%;
                h2{
                    font-size: $fsd-medium;
                    margin: 0;
                }
                
                figure{
                    text-align: left;
                    
                    img{                    
                        margin-top: 80px;
                        max-width: none;
                        width: 75%;
                    }
                }
            }

            .content{
                width: 42%;
                text-align: left;
                
                .nav-bar{
                    margin: 0;
                    font-size: $fsd-normal;

                    li{
                        &:hover{
                            border-bottom: 3px solid $blue;
                            a{
                                color: $blue;
                            }
                        }
                    }
                }

                h2{
                    font-size: 7rem;
                }

                p.description{
                    font-size: $fsd-normal;
                    &::after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: rgba($white,.1);
                        margin: 40px 0 10px 0;
                    }                    
                }

                .distance{
                    margin: 0;
                    min-width: 360px;                    
                    p{
                        margin: 0;
                        font-size: $fsd-medium;
                        span{
                            font-size: $fsm-x-small;
                        }
                    }
                }

            }
        }

    }
}