@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

/* COLORS */
/* FONTS FAMILY */
/* FONTS SIZE */
/* PLACE HOLDER */
.destination .planet h2 {
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
}

.destination .planet h2 span {
  color: #555;
  margin-right: 10px;
}

/* MIXIN */
.destination {
  background-image: url("../../assets/starter-code/destination/background-destination-mobile.jpg");
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destination .hero {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.destination .planet {
  text-align: center;
}

.destination .planet img {
  margin: 30px 0;
  width: 95%;
  max-width: 300px;
}

.destination .content {
  text-align: center;
  width: 90%;
  max-width: 450px;
  margin: auto;
}

.destination .content .nav-bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
}

.destination .content .nav-bar li {
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  position: relative;
  z-index: 1000;
}

.destination .content .nav-bar li.active {
  border-bottom: 3px solid #08f;
}

.destination .content .nav-bar li.active a {
  color: #08f;
}

.destination .content .nav-bar a {
  color: #fff;
  text-decoration: none;
}

.destination .content h2 {
  font-size: 4rem;
  margin: 35px 0 0 0;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.destination .content p.description {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
  line-height: 1.4;
}

.destination .content p.description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 40px 0;
}

.destination .content .distance {
  padding-bottom: 25px;
}

.destination .content .distance p {
  font-family: "Bellefair", serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.3;
}

.destination .content .distance p span {
  font-weight: lighter;
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

@media screen and (min-width: 750px) {
  .destination {
    background-image: url("../../assets/starter-code/destination/background-destination-tablet.jpg");
  }
  .destination .hero {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destination .planet h2 {
    text-align: left;
    font-size: 1.1rem;
  }
  .destination .planet img {
    width: 50%;
    max-width: 420px;
  }
  .destination .content {
    width: 85%;
    max-width: none;
    margin: 0 auto;
  }
  .destination .content .nav-bar {
    max-width: 350px;
    font-size: 1.1rem;
  }
  .destination .content h2 {
    font-size: 4.3rem;
  }
  .destination .content .distance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 65%;
    min-width: 460px;
  }
  .destination .content .distance p {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .destination .content .distance p span {
    font-size: 0.8rem;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1200px) {
  .destination {
    background-image: url("../../assets/starter-code/destination/background-destination-desktop.jpg");
  }
  .destination .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
    padding-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .destination .hero .planet {
    width: 50%;
  }
  .destination .hero .planet h2 {
    font-size: 1.7rem;
    margin: 0;
  }
  .destination .hero .planet figure {
    text-align: left;
  }
  .destination .hero .planet figure img {
    margin-top: 80px;
    max-width: none;
    width: 75%;
  }
  .destination .hero .content {
    width: 42%;
    text-align: left;
  }
  .destination .hero .content .nav-bar {
    margin: 0;
    font-size: 1.3rem;
  }
  .destination .hero .content .nav-bar li:hover {
    border-bottom: 3px solid #08f;
  }
  .destination .hero .content .nav-bar li:hover a {
    color: #08f;
  }
  .destination .hero .content h2 {
    font-size: 7rem;
  }
  .destination .hero .content p.description {
    font-size: 1.3rem;
  }
  .destination .hero .content p.description::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 40px 0 10px 0;
  }
  .destination .hero .content .distance {
    margin: 0;
    min-width: 360px;
  }
  .destination .hero .content .distance p {
    margin: 0;
    font-size: 1.7rem;
  }
  .destination .hero .content .distance p span {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=destination.css.map */