@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

/* COLORS */
/* FONTS FAMILY */
/* FONTS SIZE */
/* PLACE HOLDER */
.crew .hero > h2 {
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
}

.crew .hero > h2 span {
  color: #555;
  margin-right: 10px;
}

/* MIXIN */
.crew {
  background-image: url("../../assets/starter-code/crew/background-crew-mobile.jpg");
  background-size: cover;
  min-height: 100vh;
}

.crew .hero {
  width: 90%;
  max-width: 460px;
  margin: auto;
  text-align: center;
}

.crew .hero > h2 {
  margin-bottom: 40px;
}

.crew .hero img {
  width: 80%;
}

.crew .hero .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px  auto;
}

.crew .hero .nav-bar a {
  position: relative;
  z-index: 1000;
}

.crew .hero .nav-bar a figure {
  margin: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.crew .hero .nav-bar a figure.active {
  background-color: #fff;
  border: 3px solid #08f;
}

.crew .hero .nav-bar a figure:hover {
  background-color: #fff;
}

.crew .hero .content {
  padding-bottom: 40px;
}

.crew .hero .content p:first-child {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.crew .hero .content h2 {
  margin: 10px;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.crew .hero .content p:last-child {
  margin: 30px 0 0 0;
  font-family: "Barlow", sans-serif;
  line-height: 1.3;
  font-size: 1rem;
}

@media screen and (min-width: 750px) {
  .crew {
    background-image: url("../../assets/starter-code/crew/background-crew-tablet.jpg");
  }
  .crew .hero {
    margin-top: 50px;
    width: 95%;
    max-width: none;
  }
  .crew .hero .content h2:first-child {
    font-size: 1.3rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4px;
    text-align: left;
  }
  .crew .hero .content h2:first-child span {
    color: #555;
    margin-right: 10px;
  }
  .crew .hero .content article p:first-child {
    margin-top: 50px;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
  }
  .crew .hero .content article h2 {
    font-family: "Bellefair", serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  .crew .hero .content article p:last-child {
    font-family: "Barlow", sans-serif;
    line-height: 1.3;
    font-size: 1rem;
    width: 68%;
    margin: 40px auto 80px auto;
  }
  .crew .hero .content .nav-bar {
    width: 20%;
  }
  .crew .hero .image img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .crew {
    background-image: url("../../assets/starter-code/crew/background-crew-desktop.jpg");
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .crew .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    text-align: left;
    margin: 50px auto 0;
  }
  .crew .hero .content {
    padding-bottom: 25px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 670px;
  }
  .crew .hero .content h2:first-child {
    font-size: 1.7rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4px;
    margin-bottom: 80px;
  }
  .crew .hero .content h2:first-child span {
    color: #555;
    margin-right: 10px;
  }
  .crew .hero .content article {
    margin-bottom: 40px;
  }
  .crew .hero .content article p:first-child {
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
  .crew .hero .content article h2 {
    font-family: "Bellefair", serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin: 10px 0;
  }
  .crew .hero .content article p:last-child {
    font-family: "Barlow", sans-serif;
    line-height: 1.3;
    font-size: 1.1rem;
    width: 68%;
    margin: 40px 0 0 0;
  }
  .crew .hero .content .nav-bar {
    margin: 0;
  }
  .crew .hero .image {
    width: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .crew .hero .image img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=crew.css.map */