@import "../var.scss";

.header{
    //--
    //padding-top: 50px;
    display: flex;    
    align-items: center;
    justify-content: space-between;

    img{
        width: 50px;
        height: 50px;        
        border-radius: 50%;
        margin-left: 50px;
    }

    hr{
        display: inline-block;
        width: 53%;        
        height: .1px;
        border: .1px solid rgba($white,.1);
        position: absolute;
        left: -49%;
        top: 35px;
    }

    .nav-bar{
        //---revisar el position relative ??que funcion cumple aqui??
        position: relative;        
        ///

        display: flex;
        width: 55%;
        padding: 0 35px;
        //--
        //width: 45%;    
        //padding:0 100px;
        //justify-content: space-around;
        justify-content: space-between;
        background: filter(5px);
        backdrop-filter: blur(160px) saturate(120%);

        background:rgba(#666, .1) ;
        backdrop-filter: blur(1.8rem);

        nav{
            padding: 35px 0;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;

            //para controlar la seccion activa
            &.active{
                span{
                    color: $blue;
                }
                border-bottom: 3px solid $blue;
            }

            a{
                text-decoration: none;  
                font-family:$barlow-con;
                letter-spacing: 2px;
                font-size: 1rem;
                color: rgba($white,.6);
                span{
                    font-weight: bolder;
                    color: $white;
                    margin-right: 6px;
                }
            }   
        }
    }
}

@media screen and (min-width:1200px) {
    .header{
        padding-top: 50px;
        .nav-bar{
            width: 45%;
            padding: 0 100px;
            justify-content: space-around;
        }
    }
}
