@import "../var.scss";

.header{    
    display: flex;    
    align-items: center;
    justify-content: space-between;

    img{
        width: 50px;
        height: 50px;        
        border-radius: 50%;
        margin-left: 50px;
    }

    
    .nav-bar{        
        position: relative;
        display: flex;
        width: 55%;
        padding: 0 35px;        
        justify-content: space-between;                
        background:rgba(#666, .1) ;
        backdrop-filter: blur(1.8rem);
        
        hr{
            position: absolute;
            left: -49%;
            top: 35px;
            display: inline-block;
            width: 53%;        
            height: .1px;
            border: .1px solid rgba($white,.1);
        }

        nav{
            padding: 35px 0;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;

            &:hover{
                a{
                    color: $white;
                    span{
                        color: $blue;                        
                    }
                }
                border-bottom: 3px solid $blue;
            }

            //para controlar la seccion activa
            &.active{
                span{
                    color: $blue;
                }
                border-bottom: 3px solid $blue;
            }

            a{
                @extend %links-styles;
            }   
        }
    }
}

@media screen and (min-width:1200px) {
    .header{
        padding-top: 50px;
        .nav-bar{
            width: 45%;
            padding: 0 100px;
            justify-content: space-around;
        }
    }
}
